<div class="bg"></div>
    <div class="jumbotron">
        <h1>The music in the machine</h1>
        <p class="lead">What happens when you set a music producer loose in a data center?</p>
        <a href="https://www.ibm.com/it-infrastructure/us-en/remix-it/?lnk=ushpv18l1&amp;lnk2=learn" class="btn btn-success">Create your custom beat</a>
        
    </div>
</div>


<div class="col-lg-12">
    <h1>This week at IBM</h1>
</div>


<div class="row">

    <div class = "col-md-4">
        <%= image_tag("1.jpg") %>
            
        <div class = "caption text-center">
            <h3>World of Watson takes Insight to the next level</h3>
            <p>Bring the power of cognitive to the practice of data analytics</p>            </div>
        </div>
        
    <div class = "col-md-4">
        <%= image_tag("2.jpg") %>
            
        <div class = "caption text-center">
            <h3>How healthy is your eCommerce site?</h3>
            <p>Find out with a complimentary site checkup from the Dr. Commerce team</p>
        </div>
    </div>
        
        
    <div class = "col-md-4">
        <%= image_tag("3.jpg") %>
            
        <div class = "caption text-center">
            <h3>Couldn't make it to Edge 2016?</h3>
            <p>Watch marquee sessions and more than 20 interviews on demand with IBMGO</p>  
        </div>
    </div>

</div>

